/* ========= about =========== */
/* ========= about =========== */
/* ========= about =========== */

@media only screen and (max-width:1000px){
    /* ========= navigation ========= */
    #about{
        .largeNavFlexContainer{
            display: none;
            a{
                display: none;
            }
        }
        #hamburgerMenuIconPassive{
            display: block;
        }
    }
}
@media only screen and(max-width:815px){
    #about{
        .headerText{
            max-width:60vw;
            margin-bottom: 3rem;
            padding-top: 12vh;
        }
        .footerFlexContainer{
            flex-wrap: wrap;
            justify-content: center;
            figure{
                margin-bottom: 1rem;
            }
            article{
                text-align: center;
            }
        }
    }

}
@media only screen and(min-width:816px){
    .headerText{
        max-width: 20vw;
        margin-bottom: 5rem;
        padding-top: 17vh;
    }
    .footerFlexContainer{
/*         justify-content: space-between; */
        width: 45rem;
    }
}

@media only screen and (min-width:999px){
    /* ========= navigation ========= */
    #hamburgerMenuIconPassive{
        display: none;
    }
}
@media only screen and (min-width:640px){
    .footerFlexContainer{
        justify-content: space-between;
    }
}


/* ================ lounger ============= */
/* ================ lounger ============= */
/* ================ lounger ============= */

@media only screen and (max-width:1000px){
    #lounger{
        .largeNavFlexContainer{
            display: none;
            a{
                display: none;
            }
        }
        #hamburgerMenuIconPassive{
            display: block;
        }
        .mainFlexContainer{
            flex-wrap: wrap;
            justify-content: center;

            .image{
                height: 70vh;
            }
            .mainText{
                padding-top: 1rem;
            }
        }
    }
}
@media only screen and (min-width:999px){
    #lounger{
        .mainFlexContainer{

            .image{
                height: 100vh;
            }
            .mainText{
                padding-top: 10rem;
            }
        }
    }
}

/* ================ experience ============= */
/* ================ experience ============= */
/* ================ experience ============= */

@media only screen and (max-width:1000px){
    #experience{
        .largeNavFlexContainer{
            display: none;
            a{
                display: none;
            }
        }
        #hamburgerMenuIconPassive{
            display: block;
        }
        .mainFlexContainer{
            flex-wrap: wrap;
            justify-content: center;

            .image{
                height: 70vh;
            }
            .mainText{
                padding-top: 1rem;
            }
        }
    }
}
@media only screen and (min-width:999px){
    #experience{
        .mainFlexContainer{

            .image{
                height: 100vh;
            }
            .mainText{
                padding-top: 10rem;
            }
        }
    }
}


/* ================ inspiration ============= */
/* ================ inspiration ============= */
/* ================ inspiration ============= */

@media only screen and (max-width:1250px){
    #inspiration{
        .largeNavFlexContainer{
            display: none;
            a{
                display: none;
            }
        }
        #hamburgerMenuIconPassive{
            display: block;
        }

        .wrap{
            flex-wrap: wrap;
        }
        .reverseWrap{
            flex-wrap: wrap-reverse;
        }
        .firstImageContainer{
            margin-bottom: 3rem;
        }
        .secondImageContainer{
            margin-bottom: 3rem;
        }
        .mainSectionTextContainer{
            margin-bottom: 3rem;
        }
    }
}
@media only screen and (max-width:700px){
    .mainKeywordsFlexContainer{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (min-width:701px){
    #inspiration{
        main{
            margin-left: 12rem;
            margin-right: 12rem;
        }
    }

}


/* ================== shop =============== */
/* ================== shop =============== */
/* ================== shop =============== */

@media only screen and (max-width:1000px){
    #shop{
        .largeNavFlexContainer{
            display: none;
            a{
                display: none;
            }
        }
        #hamburgerMenuIconPassive{
            display: block;
        }
        .imageFlexContainer{
            .imageContainer{
                width: 100vw;
            }
            .productContainer{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                    p{
                        margin-right: 1rem;
                    }
                figure{
                    width: 30rem;
                    img{
                        width: 25rem;
                    }
                }
    
            }
        }
    }

}
@media only screen and (min-width:1001px){
    #shop{
        .imageContainer{
            width: 50rem;
        }
    }
}

@media only screen and (max-width:700px){
    #shop{
        overflow-x: hidden;
        overflow-y: hidden;
        .imageContainer{
            width: 100vw;
        }
        figure{
            max-width: 380px;
            img{
            max-width: 380px;
            }
        }
    }
}