/* imports */
@import "variables";

/* ========== nav =========== */
/* ========== nav =========== */
/* ========== nav =========== */

@mixin basicNavStyle{
    color: $brown;
    text-decoration: none;
    transition-duration: 1s;
    &:hover{
        text-decoration:underline;
        color: $beige;
    }
}

@mixin basicHamburgerMenuStyle{
    width: 2rem;
    color: $brown;
}

@mixin navBarSmall{
    width: 12rem;
    margin-left: auto;
    padding-right: 1rem;
    padding-top: 2rem;
}

@mixin navBarSmallItems{
    display: block;
    text-align: center;
    padding-bottom: .5rem;
    color: $brown;
    text-decoration: none;
    border-top: 1px solid $brown;
}