/* imports */
@import "variables";

/* ========== nav =========== */
/* ========== nav =========== */
/* ========== nav =========== */

@mixin navFlexContainer{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

@mixin basicNavStyle{
    color: $brown;
    text-decoration: none;
    transition-duration: 1s;
    &:hover{
        text-decoration:underline;
        color: $beige;
    }
}

@mixin basicHamburgerMenuStyle{
    width: 2rem;
    color: $brown;
    cursor: pointer;
}

@mixin navBarSmall{
    width: 12rem;
    margin-left: auto;
    padding-right: 1rem;
    padding-top: 2rem;
    position: fixed;
    top: 5vh;
    right: 0;
}

@mixin navBarSmallItems{
    display: block;
    text-align: center;
    padding-bottom: .5rem;
    color: $brown;
    text-decoration: none;
    border-top: 1px solid $brown;
}