/*=============== colors ==================*/
/*=============== colors ==================*/
/*=============== colors ==================*/

$darkGrey:#2e2e2e;
$lightGrey:rgb(115, 115, 115);
$brown:#867772;
$beige:#ebccc2;
$lightBeige:rgb(234, 204, 194);
