/* =============== imports ============= */
/* =============== imports ============= */
/* =============== imports ============= */
@import "variables";
@import "mixins";

@font-face {
    font-family: "worksans";
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}



/* =============== global ============== */
/* =============== global ============== */
/* =============== global ============== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fontWorkSans{
    font-family: "worksans";
}

.fontColor{
    color: $lightBeige;
}


/* ============== about ================= */
/* ============== about ================= */
/* ============== about ================= */
#about{
    background-color: $darkGrey;
/* =============== header ============= */
    .navFlexContainer{
        @include navFlexContainer;

/* navigation on about page */
            .largeNavFlexContainer{
                width: 40vw;
                display: flex;
                justify-content: space-between;

                    a{
                        @include basicNavStyle;
                    }

                        a:nth-of-type(1){
                            margin-right: 2rem;
                        }
                        a:nth-of-type(4){
                            padding-right: 2rem;
                        }
                }

            /* ======== hamburger Menu ====== */

            #hamburgerMenuIconPassive{
                @include basicHamburgerMenuStyle;
                /* display: none; */
            }

            #hamburgerMenuIconActive{
                @include basicHamburgerMenuStyle;
                display: none;
            }
/* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */

    }
    header{
        /* small navigation */
        .smallNavContainer{
            display: none;
            @include navBarSmall;

            a{
                    @include navBarSmallItems;
                }
        }
        /* text in header */
        .headerText{
            margin-left: auto;
            margin-right: auto;
        }
    }
/* =============== main ============= */
    main{
        margin-bottom: 4rem;
        aside{
            margin-left: .2rem;
            position: fixed;
            section{

                .innerCircle{
                    width: .6rem;
                    height: .6rem;
                    border-radius: 50%;
                    border: 1px solid $lightGrey;
                }
                .circleAbout{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    border: 1px solid white;
                    margin-bottom: .2rem;
                }
                .circleLounger{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    border: 1px solid transparent;
                    margin-bottom: .2rem;
                }
                .circleExperience{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    border: 1px solid transparent;
                    margin-bottom: .2rem;
                }
                .circleInspiration{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    border: 1px solid transparent;
                    margin-bottom: .2rem;
                }
                .circleShop{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    border: 1px solid transparent;
                    margin-bottom: .2rem;
                }
                .line{
                    width: 1px;
                    height: 2rem;
                    background-color: $lightGrey;
                    margin-left: .457rem;
                    margin-bottom: .3rem;
                }
                .linkAbout{
                    position: absolute;
                    top: -.1rem;
                    left: 1.5rem;
                    text-decoration: none;
                    color: white;
                }
                .linkLounger{
                    position: absolute;
                    top: 3.5rem;
                    left: 1.5rem;
                    text-decoration: none;
                    color: $lightGrey;
                }
                .linkExperience{
                    position: absolute;
                    top: 7rem;
                    left: 1.5rem;
                    text-decoration: none;
                    color: $lightGrey;
                }
                .linkInspiration{
                    position: absolute;
                    top: 10.5rem;
                    left: 1.5rem;
                    text-decoration: none;
                    color: $lightGrey;
                }
                .linkShop{
                    position: absolute;
                    top: 14rem;
                    left: 1.5rem;
                    text-decoration: none;
                    color: $lightGrey;
                }
            }
        }
        figure{
            width: 92vw;
            margin-left: auto;
            margin-right: auto;

                img{
                    width: 100%;
                }
                figcaption{
                    display: none;
                }
        }
    }

/* =============== footer ============= */
    footer{

        .footerFlexContainer{
            display: flex;
/*             width: 80vw; */
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
            
        }
        figure{
            width: 20rem;
            /* margin-right: 3rem; */

                img{
                    width: 100%;
                }
                figcaption{
                    display: none;
                }
        }
        article{
            width: 20rem;
            margin-top: auto;
            margin-bottom: auto;

                h3{
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                }
                p:first-of-type{
                    margin-bottom: .5rem;
                }
                p{
                    color:$lightGrey ;
                }
        }
    }    
}
@import "media-queries";






