/* =============== imports ============= */
/* =============== imports ============= */
/* =============== imports ============= */
/*=============== colors ==================*/
/*=============== colors ==================*/
/*=============== colors ==================*/
/* imports */ /*=============== colors ==================*/
/*=============== colors ==================*/
/*=============== colors ==================*/
/* ========== nav =========== */
/* ========== nav =========== */
/* ========== nav =========== */
@font-face {
  font-family: "worksans";
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
/* =============== global ============== */
/* =============== global ============== */
/* =============== global ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fontWorkSans {
  font-family: "worksans";
}

.fontColor {
  color: rgb(234, 204, 194);
}

.fontColorGrey {
  color: rgb(115, 115, 115);
}

/* ============== about ================= */
/* ============== about ================= */
/* ============== about ================= */
#about {
  background-color: #2e2e2e;
  /* =============== header ============= */
  /* =============== main ============= */
  /* =============== footer ============= */
}
#about .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#about .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#about .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#about .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#about .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#about .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#about .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#about .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#about header {
  /* small navigation */
  /* text in header */
}
#about header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#about header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#about header .headerText {
  margin-left: auto;
  margin-right: auto;
}
#about main {
  margin-bottom: 4rem;
}
#about main aside {
  margin-left: 0.2rem;
  position: fixed;
}
#about main aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
#about main aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
#about main aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .circleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
#about main aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
#about main aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkLounger:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#about main aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkExperience:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#about main aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkInspiration:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#about main aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkShop:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#about main aside section .linkContact {
  position: absolute;
  top: 17.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkContact:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#about main figure {
  width: 92vw;
  margin-left: auto;
  margin-right: auto;
}
#about main figure img {
  width: 100%;
}
#about main figure figcaption {
  display: none;
}
#about footer .footerFlexContainer {
  display: flex;
  /*             width: 80vw; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
#about footer figure {
  width: 20rem;
  /* margin-right: 3rem; */
}
#about footer figure img {
  width: 100%;
}
#about footer figure figcaption {
  display: none;
}
#about footer article {
  width: 20rem;
  margin-top: auto;
  margin-bottom: auto;
}
#about footer article h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#about footer article p:first-of-type {
  margin-bottom: 0.5rem;
}
#about footer article p {
  color: rgb(115, 115, 115);
}

/* ^^^^^^^^^^^^^^^^^^^^^^ about ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^ about ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^ about ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ====================== lounger ===================== */
/* ====================== lounger ===================== */
/* ====================== lounger ===================== */
#lounger {
  background-color: #2e2e2e;
  /* =============== header ============= */
}
#lounger .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#lounger .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#lounger .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#lounger .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#lounger .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#lounger .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#lounger .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#lounger .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#lounger header {
  /* small navigation */
  /* text in header */
}
#lounger header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#lounger header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#lounger header .headerText {
  margin-left: auto;
  margin-right: auto;
}
#lounger main .mainFlexContainer {
  display: flex;
  width: 100%;
}
#lounger main .mainFlexContainer .image {
  width: 50rem;
  /* height: 100vh; */
  background: url(../img/section-voyager.jpg);
  background-size: cover;
  background-position: center;
}
#lounger main .mainFlexContainer .mainText {
  /* padding-top: 10rem; */
  width: 40rem;
  padding-left: 4rem;
  padding-right: 2rem;
  font-size: 2rem;
}
#lounger main .mainFlexContainer .mainText .textTitle {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: rgb(234, 204, 194);
}
#lounger main .mainFlexContainer .mainText .text {
  color: rgb(115, 115, 115);
}
#lounger main aside {
  margin-left: 0.2rem;
  position: fixed;
  top: 15rem;
}
#lounger main aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
#lounger main aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
#lounger main aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkAbout:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#lounger main aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
#lounger main aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkExperience:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#lounger main aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkInspiration:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#lounger main aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkShop:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#lounger main aside section .linkContact {
  position: absolute;
  top: 17.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkContact:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}

/* ^^^^^^^^^^^^^^^^^^^^^^ lounger ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^ lounger ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^ lounger ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ====================== experience ===================== */
/* ====================== experience ===================== */
/* ====================== experience ===================== */
#experience {
  background-color: #2e2e2e;
  /* =============== header ============= */
}
#experience .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#experience .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#experience .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#experience .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#experience .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#experience .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#experience .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#experience .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#experience header {
  /* small navigation */
  /* text in header */
}
#experience header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#experience header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#experience header .headerText {
  margin-left: auto;
  margin-right: auto;
}
#experience main .mainFlexContainer {
  display: flex;
  width: 100%;
}
#experience main .mainFlexContainer .image {
  width: 50rem;
  /* height: 100vh; */
  background: url(../img/section-experience-1.jpg);
  background-size: cover;
  background-position: center;
}
#experience main .mainFlexContainer .mainText {
  /* padding-top: 10rem; */
  width: 50rem;
  padding-left: 4rem;
  padding-right: 2rem;
  font-size: 2rem;
}
#experience main .mainFlexContainer .mainText .textTitle {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: rgb(234, 204, 194);
}
#experience main .mainFlexContainer .mainText .text {
  color: rgb(115, 115, 115);
}
#experience main aside {
  margin-left: 0.2rem;
  position: fixed;
  top: 15rem;
}
#experience main aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
#experience main aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#experience main aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#experience main aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
#experience main aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#experience main aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#experience main aside section .circleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#experience main aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
#experience main aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#experience main aside section .linkAbout:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#experience main aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#experience main aside section .linkLounger:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#experience main aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
#experience main aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#experience main aside section .linkInspiration:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#experience main aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#experience main aside section .linkShop:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#experience main aside section .linkContact {
  position: absolute;
  top: 17.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#experience main aside section .linkContact:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}

/* ====================== inspiration ===================== */
/* ====================== inspiration ===================== */
/* ====================== inspiration ===================== */
#inspiration {
  background-color: #2e2e2e;
  /* =============== header ============= */
}
#inspiration .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#inspiration .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#inspiration .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#inspiration .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#inspiration .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#inspiration .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#inspiration .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#inspiration .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#inspiration header {
  /* small navigation */
}
#inspiration header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#inspiration header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#inspiration header .videoContainer {
  width: 70vw;
  padding-top: 12rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
#inspiration header .videoContainer video {
  width: 100%;
  border-radius: 0.5rem;
}
#inspiration main .marginBottom {
  margin-bottom: 5rem;
}
#inspiration main .mainText {
  margin-bottom: 0.5rem;
}
#inspiration main .mainTitle {
  margin-bottom: 1rem;
}
#inspiration main .mainKeywordsFlexContainer {
  display: flex;
  justify-content: space-between;
  width: 15vw;
  margin-bottom: 0.5rem;
}
#inspiration main .mainKeywordsFlexContainer p {
  border: 0.5px solid white;
  padding: 0.2rem;
  margin: 0.2rem;
}
#inspiration main .mainSectionFlexContainer {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
#inspiration main .mainSectionFlexContainer p:nth-of-type(1) {
  margin-bottom: 2rem;
  padding-top: 2rem;
}
#inspiration main .mainSectionFlexContainer .firstImageContainer {
  background: url(../img/ETC_6.webp);
  width: 30rem;
  height: 20rem;
  background-size: cover;
}
#inspiration main .mainSectionFlexContainer .secondImageContainer {
  background: url(../img/ETC_5.webp);
  width: 30rem;
  height: 20rem;
  background-size: cover;
}
#inspiration main .mainSectionFlexContainer .mainSectionTextContainer {
  width: 20rem;
}
#inspiration main aside {
  margin-left: 0.2rem;
  position: fixed;
  top: 35rem;
  left: 0;
}
#inspiration main aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
#inspiration main aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#inspiration main aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#inspiration main aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#inspiration main aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
#inspiration main aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#inspiration main aside section .circleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#inspiration main aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
#inspiration main aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#inspiration main aside section .linkAbout:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#inspiration main aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#inspiration main aside section .linkLounger:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#inspiration main aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#inspiration main aside section .linkExperience:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#inspiration main aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
#inspiration main aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#inspiration main aside section .linkShop:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#inspiration main aside section .linkContact {
  position: absolute;
  top: 17.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#inspiration main aside section .linkContact:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}

/* ====================== shop ===================== */
/* ====================== shop ===================== */
/* ====================== shop ===================== */
#shop {
  background-color: #2e2e2e;
  /* =============== header ============= */
}
#shop .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#shop .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#shop .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#shop .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#shop .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#shop .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#shop .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#shop .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#shop header {
  /* small navigation */
}
#shop header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#shop header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#shop .imageFlexContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#shop .imageFlexContainer .imageContainer {
  background: url(../img/section-composition4.jpg);
  background-size: cover;
  /*                 width: 50rem; */
  height: 100%;
}
#shop .imageFlexContainer .productContainer {
  text-align: center;
  width: 50%;
  padding-top: 10rem;
}
#shop .imageFlexContainer .productContainer figure {
  /*                         width: 30rem; */
  margin-left: auto;
  margin-right: auto;
}
#shop .imageFlexContainer .productContainer p:nth-of-type(4) {
  border: 1px solid black;
  background-color: rgb(234, 204, 194);
  display: inline-block;
  padding: 0.5rem;
}
#shop .imageFlexContainer figcaption {
  display: none;
}
#shop .imageFlexContainer p {
  margin-bottom: 0.5rem;
}

aside {
  margin-left: 0.2rem;
  position: fixed;
  top: 15rem;
}
aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
aside section .circleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
aside section .linkAbout:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
aside section .linkExperience:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
aside section .linkInspiration:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
aside section .linkShop:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
aside section .linkContact {
  position: absolute;
  top: 17.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
aside section .linkContact:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}

/* ====================== contact ===================== */
/* ====================== contact ===================== */
/* ====================== contact ===================== */
#contact {
  background-color: #2e2e2e;
  /* =============== header ============= */
}
#contact .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#contact .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#contact .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#contact .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#contact .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#contact .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#contact .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#contact .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#contact header {
  /* small navigation */
}
#contact header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#contact header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#contact aside {
  margin-left: 0.2rem;
  position: fixed;
  top: 25rem;
  left: 0;
}
#contact aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
#contact aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#contact aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#contact aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#contact aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#contact aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#contact aside section .circleContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
#contact aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
#contact aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#contact aside section .linkAbout:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#contact aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#contact aside section .linkLounger:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#contact aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#contact aside section .linkExperience:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#contact aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#contact aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#contact aside section .linkShop:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}
#contact aside section .linkContact {
  position: absolute;
  top: 17.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
#contact aside section .linkContact:hover {
  color: rgb(234, 204, 194);
  transition: 1s;
}

/* ========= about =========== */
/* ========= about =========== */
/* ========= about =========== */
@media only screen and (max-width: 1000px) {
  /* ========= navigation ========= */
  #about .largeNavFlexContainer {
    display: none;
  }
  #about .largeNavFlexContainer a {
    display: none;
  }
  #about #hamburgerMenuIconPassive {
    display: block;
  }
}
@media only screen and (max-width: 815px) {
  #about .headerText {
    max-width: 60vw;
    margin-bottom: 3rem;
    padding-top: 12vh;
  }
  #about .footerFlexContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  #about .footerFlexContainer figure {
    margin-bottom: 1rem;
  }
  #about .footerFlexContainer article {
    text-align: center;
  }
}
@media only screen and (min-width: 816px) {
  .headerText {
    max-width: 20vw;
    margin-bottom: 5rem;
    padding-top: 17vh;
  }
  .footerFlexContainer {
    /*         justify-content: space-between; */
    width: 45rem;
  }
}
@media only screen and (min-width: 999px) {
  /* ========= navigation ========= */
  #hamburgerMenuIconPassive {
    display: none;
  }
}
@media only screen and (min-width: 640px) {
  .footerFlexContainer {
    justify-content: space-between;
  }
}
/* ================ lounger ============= */
/* ================ lounger ============= */
/* ================ lounger ============= */
@media only screen and (max-width: 1000px) {
  #lounger .largeNavFlexContainer {
    display: none;
  }
  #lounger .largeNavFlexContainer a {
    display: none;
  }
  #lounger #hamburgerMenuIconPassive {
    display: block;
  }
  #lounger .mainFlexContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  #lounger .mainFlexContainer .image {
    height: 70vh;
  }
  #lounger .mainFlexContainer .mainText {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 999px) {
  #lounger .mainFlexContainer .image {
    height: 100vh;
  }
  #lounger .mainFlexContainer .mainText {
    padding-top: 10rem;
  }
}
/* ================ experience ============= */
/* ================ experience ============= */
/* ================ experience ============= */
@media only screen and (max-width: 1000px) {
  #experience .largeNavFlexContainer {
    display: none;
  }
  #experience .largeNavFlexContainer a {
    display: none;
  }
  #experience #hamburgerMenuIconPassive {
    display: block;
  }
  #experience .mainFlexContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  #experience .mainFlexContainer .image {
    height: 70vh;
  }
  #experience .mainFlexContainer .mainText {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 999px) {
  #experience .mainFlexContainer .image {
    height: 100vh;
  }
  #experience .mainFlexContainer .mainText {
    padding-top: 10rem;
  }
}
/* ================ inspiration ============= */
/* ================ inspiration ============= */
/* ================ inspiration ============= */
@media only screen and (max-width: 1250px) {
  #inspiration .largeNavFlexContainer {
    display: none;
  }
  #inspiration .largeNavFlexContainer a {
    display: none;
  }
  #inspiration #hamburgerMenuIconPassive {
    display: block;
  }
  #inspiration .wrap {
    flex-wrap: wrap;
  }
  #inspiration .reverseWrap {
    flex-wrap: wrap-reverse;
  }
  #inspiration .firstImageContainer {
    margin-bottom: 3rem;
  }
  #inspiration .secondImageContainer {
    margin-bottom: 3rem;
  }
  #inspiration .mainSectionTextContainer {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .mainKeywordsFlexContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 701px) {
  #inspiration main {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
/* ================== shop =============== */
/* ================== shop =============== */
/* ================== shop =============== */
@media only screen and (max-width: 1000px) {
  #shop .largeNavFlexContainer {
    display: none;
  }
  #shop .largeNavFlexContainer a {
    display: none;
  }
  #shop #hamburgerMenuIconPassive {
    display: block;
  }
  #shop .imageFlexContainer .imageContainer {
    width: 100vw;
  }
  #shop .imageFlexContainer .productContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  #shop .imageFlexContainer .productContainer p {
    margin-right: 1rem;
  }
  #shop .imageFlexContainer .productContainer figure {
    width: 30rem;
  }
  #shop .imageFlexContainer .productContainer figure img {
    width: 25rem;
  }
}
@media only screen and (min-width: 1001px) {
  #shop .imageContainer {
    width: 50rem;
  }
}
@media only screen and (max-width: 700px) {
  #shop {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #shop .imageContainer {
    width: 100vw;
  }
  #shop figure {
    max-width: 380px;
  }
  #shop figure img {
    max-width: 380px;
  }
}/*# sourceMappingURL=style.css.map */