/* =============== imports ============= */
/* =============== imports ============= */
/* =============== imports ============= */
/*=============== colors ==================*/
/*=============== colors ==================*/
/*=============== colors ==================*/
/* imports */ /*=============== colors ==================*/
/*=============== colors ==================*/
/*=============== colors ==================*/
/* ========== nav =========== */
/* ========== nav =========== */
/* ========== nav =========== */
/* ========= about =========== */
/* ========= about =========== */
/* ========= about =========== */
@media only screen and (max-width: 1000px) {
  .largeNavFlexContainer {
    display: none;
  }
  .largeNavFlexContainer a {
    display: none;
  }
  .hamburgerMenuIconPassiv {
    display: block;
  }
}
@media only screen and (min-width: 999px) {
  .hamburgerMenuIconPassiv {
    display: none;
  }
}
/* =============== global ============== */
/* =============== global ============== */
/* =============== global ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fontColor {
  color: rgb(234, 204, 194);
}

/* ============== about ================= */
/* ============== about ================= */
/* ============== about ================= */
#about {
  background-color: #2e2e2e;
  /* =============== header ============= */
  /* =============== main ============= */
  /* =============== footer ============= */
}
#about .navFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
}
#about .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#about .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#about .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#about .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#about .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#about .navFlexContainer .hamburgerMenuIconPassiv {
  width: 2rem;
  color: #867772;
}
#about .navFlexContainer .hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  display: none;
}
#about header {
  /* small navigation */
  /* text in header */
}
#about header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
}
#about header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#about header h1 {
  width: 25vw;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  padding-top: 10vh;
}
#about main {
  margin-bottom: 4rem;
}
#about main figure {
  width: 92vw;
  margin-left: auto;
  margin-right: auto;
}
#about main figure img {
  width: 100%;
}
#about main figure figcaption {
  display: none;
}
#about footer .footerFlexContainer {
  display: flex;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
#about footer figure {
  width: 50%;
  margin-right: 3rem;
}
#about footer figure img {
  width: 100%;
}
#about footer figure figcaption {
  display: none;
}
#about footer article {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
#about footer article h3 {
  margin-bottom: 1rem;
}
#about footer article p:first-of-type {
  margin-bottom: 0.5rem;
}
#about footer article p {
  color: rgb(115, 115, 115);
}/*# sourceMappingURL=style.css.map */