/* =============== imports ============= */
/* =============== imports ============= */
/* =============== imports ============= */
/*=============== colors ==================*/
/*=============== colors ==================*/
/*=============== colors ==================*/
/* imports */ /*=============== colors ==================*/
/*=============== colors ==================*/
/*=============== colors ==================*/
/* ========== nav =========== */
/* ========== nav =========== */
/* ========== nav =========== */
@font-face {
  font-family: "worksans";
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
/* =============== global ============== */
/* =============== global ============== */
/* =============== global ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fontWorkSans {
  font-family: "worksans";
}

.fontColor {
  color: rgb(234, 204, 194);
}

/* ============== about ================= */
/* ============== about ================= */
/* ============== about ================= */
#about {
  background-color: #2e2e2e;
  /* =============== header ============= */
  /* =============== main ============= */
  /* =============== footer ============= */
}
#about .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#about .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#about .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#about .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#about .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#about .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#about .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#about .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#about header {
  /* small navigation */
  /* text in header */
}
#about header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#about header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#about header .headerText {
  margin-left: auto;
  margin-right: auto;
}
#about main {
  margin-bottom: 4rem;
}
#about main aside {
  margin-left: 0.2rem;
  position: fixed;
}
#about main aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
#about main aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
#about main aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#about main aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
#about main aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
#about main aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#about main figure {
  width: 92vw;
  margin-left: auto;
  margin-right: auto;
}
#about main figure img {
  width: 100%;
}
#about main figure figcaption {
  display: none;
}
#about footer .footerFlexContainer {
  display: flex;
  /*             width: 80vw; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
#about footer figure {
  width: 20rem;
  /* margin-right: 3rem; */
}
#about footer figure img {
  width: 100%;
}
#about footer figure figcaption {
  display: none;
}
#about footer article {
  width: 20rem;
  margin-top: auto;
  margin-bottom: auto;
}
#about footer article h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#about footer article p:first-of-type {
  margin-bottom: 0.5rem;
}
#about footer article p {
  color: rgb(115, 115, 115);
}

/* ^^^^^^^^^^^^^^^^^^^^^^ about ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^ about ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^ about ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ====================== lounger ===================== */
/* ====================== lounger ===================== */
/* ====================== lounger ===================== */
#lounger {
  background-color: #2e2e2e;
  /* =============== header ============= */
}
#lounger .navFlexContainer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* navigation on about page */
  /* ======== hamburger Menu ====== */
  /* ^^^^^^^^^^^^^^^^^^^^^^ nav flex container ^^^^^^^^^^^^^^^^^^^^^^ */
}
#lounger .navFlexContainer .largeNavFlexContainer {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#lounger .navFlexContainer .largeNavFlexContainer a {
  color: #867772;
  text-decoration: none;
  transition-duration: 1s;
}
#lounger .navFlexContainer .largeNavFlexContainer a:hover {
  text-decoration: underline;
  color: #ebccc2;
}
#lounger .navFlexContainer .largeNavFlexContainer a:nth-of-type(1) {
  margin-right: 2rem;
}
#lounger .navFlexContainer .largeNavFlexContainer a:nth-of-type(4) {
  padding-right: 2rem;
}
#lounger .navFlexContainer #hamburgerMenuIconPassive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  /* display: none; */
}
#lounger .navFlexContainer #hamburgerMenuIconActive {
  width: 2rem;
  color: #867772;
  cursor: pointer;
  display: none;
}
#lounger header {
  /* small navigation */
  /* text in header */
}
#lounger header .smallNavContainer {
  display: none;
  width: 12rem;
  margin-left: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 5vh;
  right: 0;
}
#lounger header .smallNavContainer a {
  display: block;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #867772;
  text-decoration: none;
  border-top: 1px solid #867772;
}
#lounger header .headerText {
  margin-left: auto;
  margin-right: auto;
}
#lounger main .mainFlexContainer {
  display: flex;
  width: 100%;
}
#lounger main .mainFlexContainer .image {
  width: 50rem;
  /* height: 100vh; */
  background: url(../img/section-voyager.jpg);
  background-size: cover;
  background-position: center;
}
#lounger main .mainFlexContainer .mainText {
  /* padding-top: 10rem; */
  width: 40rem;
  padding-left: 4rem;
  padding-right: 2rem;
  font-size: 2rem;
}
#lounger main .mainFlexContainer .mainText .textTitle {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: rgb(234, 204, 194);
}
#lounger main .mainFlexContainer .mainText .text {
  color: rgb(115, 115, 115);
}
#lounger main aside {
  margin-left: 0.2rem;
  position: fixed;
  top: 15rem;
}
#lounger main aside section .innerCircle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 1px solid rgb(115, 115, 115);
}
#lounger main aside section .circleAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleLounger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleInspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .circleShop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 0.2rem;
}
#lounger main aside section .line {
  width: 1px;
  height: 2rem;
  background-color: rgb(115, 115, 115);
  margin-left: 0.457rem;
  margin-bottom: 0.3rem;
}
#lounger main aside section .linkAbout {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkLounger {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
}
#lounger main aside section .linkExperience {
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkInspiration {
  position: absolute;
  top: 10.5rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}
#lounger main aside section .linkShop {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
  text-decoration: none;
  color: rgb(115, 115, 115);
}

/* ========= about =========== */
/* ========= about =========== */
/* ========= about =========== */
@media only screen and (max-width: 1000px) {
  /* ========= navigation ========= */
  .largeNavFlexContainer {
    display: none;
  }
  .largeNavFlexContainer a {
    display: none;
  }
  #hamburgerMenuIconPassive {
    display: block;
  }
}
@media only screen and (max-width: 815px) {
  .headerText {
    max-width: 60vw;
    margin-bottom: 3rem;
    padding-top: 12vh;
  }
  .footerFlexContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerFlexContainer figure {
    margin-bottom: 1rem;
  }
  .footerFlexContainer article {
    text-align: center;
  }
}
@media only screen and (min-width: 816px) {
  .headerText {
    max-width: 20vw;
    margin-bottom: 5rem;
    padding-top: 17vh;
  }
  .footerFlexContainer {
    /*         justify-content: space-between; */
    width: 45rem;
  }
}
@media only screen and (min-width: 999px) {
  /* ========= navigation ========= */
  #hamburgerMenuIconPassive {
    display: none;
  }
}
@media only screen and (min-width: 640px) {
  .footerFlexContainer {
    justify-content: space-between;
  }
}
/* ================ lounger ============= */
/* ================ lounger ============= */
/* ================ lounger ============= */
@media only screen and (max-width: 1000px) {
  #lounger .mainFlexContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  #lounger .mainFlexContainer .image {
    height: 70vh;
  }
  #lounger .mainFlexContainer .mainText {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 999px) {
  #lounger .mainFlexContainer .image {
    height: 100vh;
  }
  #lounger .mainFlexContainer .mainText {
    padding-top: 10rem;
  }
}/*# sourceMappingURL=style.css.map */